CivGTK/bin
﻿Civ/Civ/bin/Debug/Civ.vshost.exe
*.manifest
Civ/bin/*
*.exe
Civ/Civ/bin/*
Civ/Civ/obj/*
Civ/obj/*
Civgtk/*
CivLibrary/bin/*
CivLibrary/obj/*
CivWin/bin/*
CivWin/obj/*
ListaExtras/obj/*
GtkLinux/*
ListaExtras/bin/*
Store/Store/Store/bin/*
Store/Store/Store/obj/*
*.suo
*.cache
Gráficas/obj/*.*
TemporaryGeneratedFile_*.cs
Gráficas/Gráficas.csproj
Gráficas/Properties/AssemblyInfo.cs
Gráficas/obj/Debug/Gráficas.csproj.FileListAbsolute.txt
Civ.v12.suo
Gráficas/bin/*
Gráficas/obj/*
*.autosave
Ciencias y tecnologías.dia~
Civ.userprefs
Ciencias y tecnologías.dia
