[submodule "ListaExtras"]
	path = ListaExtras
	url = git@gitlab.com:karvayoedgar/listaextras.git
[submodule "CivLibrary"]

	path = CivLibrary

	url = https://github.com/karv/civlib.git

[submodule "Gráficas"]

	path = Gráficas

	url = git@github.com:karv/Grafo.git